h3 {
    color: #333;
    margin: 60px;
}

p {
    color: rgb(214, 152, 214);
    text-align: center;
}

#links {
    text-align: center;
}

.botoes {
    margin: 8px;
    color: white;
    background-color: purple;
}

table {
    background-color: rgb(160, 142, 160);
    width: 300px;
    display: inline;
    padding-top: 8px;
    margin: 10%;
}


td {
    text-align: center;
    vertical-align: middle;
    border: 1px gray;
}
