h1 {
    font-family: serif;
    color: purple;
    text-align: center;
}

#chamada {
    font-family: monospace;
    font-size: 16px;
    color: rgb(125, 207, 125);
    text-align: center;
}

#links {
    text-align: center;
}

.botoes {
    color: white;
    background-color: rgb(214, 152, 214);
    margin: 8px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: indigo;
    
}