* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    height: 60px;
    margin-bottom: 8px;
}


.icone {
    width: 30px;
    margin: 0 8px 8px 0;
}
.icone-e-texto {
    display: flex;
    align-items: center;
}



footer {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}